section {
    min-height: 100vh;
    &.split-panels {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        &.split-panels--alternate {
            .split-panels__panel:first-of-type {
                order: 1;
            }
        }

        .split-panels__panel{
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            @media(max-width: 1200px){
                width: 50vw;
            }   
        }

        .split-panels__panel--image-side {
            background: $dark-grey;
            .split-panels__image {
                display: grid;
                place-items: center;
                width: 500px;

                img {
                    grid-area: 1 / -1;
                }
            }
        }
        .split-panels__panel--copy-side {
            background: $black;
            .split-panels__copy-wrapper {
                width: 100%;
                max-width: 480px;
                margin: 0 auto;
                padding: 3.2rem;
                .split-panels__title {
                    font-weight: 400;
                }
                .split-panels__text {
                    margin-top: 3.2rem;
                }

                .btn {
                    display: inline-flex;
                    align-items: center;
        
                    img { // Wait for explaination on some of the new properties
                        width: 11px;
                        margin-left: 10px;
                        height: 16px; // height of the actual image
                        object-fit: cover;
                        object-position: center right;
                        transition: width .3s ease-in-out
                    }

                    &:hover, &:focus {
                        img {
                            width: 25px; // width of the actual image
                        }
                    }
                }
            }
        }
    }
}