*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1rem = 10px
}

body {
    font-size: 1.6rem;
    line-height: 1.2;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
