@font-face {
    font-family: 'PTRoot Bold';
    src: url('/assets/fonts/ptroot.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'PTRoot SemiBold';
    src: url('/assets/fonts/ptroot.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'PTRoot Regular';
    src: url('/assets/fonts/ptroot.woff2') format('woff2');
    font-weight: 400;
}


